<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>md-pickers</title>

    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>

    <link rel="stylesheet/less" href="../src/core/style/animation.less"/>
    <link rel="stylesheet/less" href="../src/components/mdpDatePicker/mdpDatePicker.less"/>
    <link rel="stylesheet/less" href="../src/components/mdpTimePicker/mdpTimePicker.less"/>

    <script>
        less = {
            async: true
        };
    </script>


    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/less/dist/less.min.js"></script>

    <script src="../src/mdPickers.js"></script>
    <script src="../src/core/icons.js"></script>
    <script src="../src/core/mdpLocale.js"></script>
    <script src="../src/components/mdpDatePicker/mdpDatePicker.js"></script>
    <script src="../src/components/mdpTimePicker/mdpTimePicker.js"></script>
    <script src="app.js"></script>
    <script src="demoController.js"></script>
</head>
<body ng-controller="demoController">
<div layout="column" flex>
    <a href="?">Use app global settings</a>
    <a href="?useDefaults">Use default global settings</a>
</div>

<div layout="column" flex>
    <h3>Default options:</h3>
    <div layout="row" flex>
        <mdp-date-picker ng-model="date1" mdp-placeholder="Date 1"></mdp-date-picker>
        <mdp-time-picker ng-model="date1" mdp-placeholder="Time 1"></mdp-time-picker>
    </div>
    <span>{{ date1 }}</span>
</div>
<div layout="column" flex>
    <h3>HTML options:</h3>
    <div layout="row" flex>
        <mdp-date-picker
                ng-model="date2"
                mdp-placeholder="Date 2"
                mdp-min-date="minDate2"
                mdp-max-date="maxDate2"
                mdp-ok-label="go"
                mdp-cancel-label="back"
                mdp-date-filter="dateFilter2"
                mdp-format="MM-DD-YYYY"
        ></mdp-date-picker>
        <mdp-time-picker
                ng-model="date2"
                mdp-placeholder="Time 2"
                mdp-min-time="minTime2"
                mdp-max-time="maxTime2"
                mdp-ok-label="go"
                mdp-cancel-label="back"
                mdp-format="HH:MM"
                mdp-auto-switch="false"
                mdp-ampm="false"
        ></mdp-time-picker>
    </div>
    <span>{{ date2 }}</span>
</div>
</body>
</html>